.cabecalho.moda {
    background-color: #BB86FC;
    color: #ffffff;
    
}

.cabecalho {
    background-color: #424250;
    color: #ffffff;
}

.cabecalho.casa {
    background-color: #00C4B4;
}

th {
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
}